<h2><%= link_to t("New_tweet"), new_user_tweet_path %></h2>
<% @tweets.each do |tweet| %>
  <p><%= tweet.title %></p>
  <p><%= tweet.content %></p>
  <%= link_to t("Show"), user_tweet_path(current_user, tweet)%>
  <%= link_to t("Edit"), edit_user_tweet_path(current_user, tweet) %>
  <%= link_to t("Destroy"), user_tweet_path(current_user, tweet),
                      method: :delete, data: { confirm: t("Are_you_sure?") } %>
<% end %>
<%= paginate @tweets %>
