<h2><%= link_to t(".new_tweet"), new_user_tweet_path %></h2>
<% @tweets.each do |tweet| %>
  <p><%= tweet.title %></p>
  <p><%= tweet.content %></p>
  <%= link_to t(".show"), user_tweet_path(current_user, tweet)%>
  <%= link_to t(".edit"), edit_user_tweet_path(current_user, tweet) %>
  <%= link_to t(".destroy"), user_tweet_path(current_user, tweet),
                      method: :delete, data: { confirm: t("are_you_sure?") } %>
<% end %>
<%= paginate @tweets %>
