<h2><%= link_to "New Tweet", new_user_tweet_path %></h2>
<% @tweets.each do |tweet| %>
  <p><%= tweet.title %></p>
  <p><%= tweet.content %></p>
  <%= link_to "Show", user_tweet_path(current_user, tweet)%>
  <%= link_to "Edit", edit_user_tweet_path(current_user, tweet) %>
  <%= link_to 'Destroy', user_tweet_path(current_user, tweet),
                      method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= paginate @tweets %>
