<p><%= @tweet.title %></p>
<p><%= @tweet.content %></p>

<%= link_to t("back"), user_tweets_path(current_user) %>
<%= link_to t(".edit"), edit_user_tweet_path(@tweet) %>
<%= link_to t(".destroy"), user_tweet_path(@tweet),
                    method: :delete, data: { confirm: t("are_you_sure?") } %>
