<p><%= @tweet.title %></p>
<p><%= @tweet.content %></p>

<%= link_to t("Back"), user_tweets_path %>
<%= link_to t("Edit"), edit_user_tweet_path(@tweet) %>
<%= link_to t("Destroy"), user_tweet_path(@tweet),
                    method: :delete, data: { confirm: t("Are_you_sure?") } %>
