<h1><%= current_user[:name] %></h1>

<% if current_user.provider.nil? %>
  <%= image_tag current_user.avatar.url(:thumb) %>
<% else %>
  <%= image_tag current_user.avatar_file_name(:thumb) %>
<% end %>
<br>
<%= link_to "New Tweet", new_tweet_path %>
<%= link_to "Tweets", tweets_path %>
